/* Mobile Portrait (heroBannerMB.png for vertical mobile) */
@media (max-width: 760px) and (orientation: portrait) {
    .heroSection {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0), rgba(81, 41, 41, 0)),
            url('../assetss/HeroSection/verticalHero.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* margin-top: 3.5rem; */
    }
}

/* Mobile Landscape (heroBanner.png for horizontal mobile) */
@media (max-width: 760px) and (orientation: landscape) {
    .heroSection {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0), rgba(81, 41, 41, 0)),
            url('../assetss/HeroSection/landscapeHero.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* margin-top: 3.5rem; */
    }
}


/* iPad, Mac, Desktop, Laptop (heroBanner.png for larger screens) */
@media (min-width: 761px) {
    .heroSection {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0), rgba(81, 41, 41, 0)),
            url('../assetss/HeroSection/landscapeHero.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* .heroSection {
    position: relative;
    overflow: hidden;
}

.text-white {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
} */