/* umrapackage\src\assetss\HeroSection\herobg.svg */
.heroSection {
    background-image:
        linear-gradient(rgba(32, 41, 59, 0.6), rgba(32, 41, 59, 0.6)),
        url('../assetss/HeroSection/herobg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-top: 3.5rem; */
}