/* umrapackage\src\assetss\HeroSection\herobg.svg
.heroSection {
    background-image:
        linear-gradient(rgba(32, 41, 59, 0.6), rgba(32, 41, 59, 0.6)),
        url('../assetss/HeroSection/herobg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.heroSection {
    position: relative;
    overflow: hidden;
    /* Ensure nothing overflows outside the section */
}

/* Optional: add some shadow to text for better visibility */
.text-white {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}